---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";

// Get all links and sort by order
const allLinks = await getCollection("links");
const links = allLinks
  .filter((link) => !link.data.hidden)
  .sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout>
  <div class="App">
    <Header />
    <div class="container row">
      {
        links.map((link, i) => (
          <Card
            title={link.data.title}
            subtitle={link.data.subtitle}
            image={link.data.image}
            link={link.data.link}
            index={i}
          />
        ))
      }
    </div>
    <Footer />
  </div>
</BaseLayout>
