---
import type { ImageMetadata } from "astro";

interface Props {
	title: string;
	subtitle: string;
	image: ImageMetadata;
	link: string;
	index: number;
}

const { title, subtitle, image, link, index } = Astro.props;
const animationDelay = `${index * 0.1}s`;
---

<a href={link} target="_blank" rel="noopener noreferrer">
  <div
    class="Card four columns"
    style={`animation-delay: ${animationDelay}`}
  >
    <img
      src={image.src}
      alt={`${title} cover`}
      class="cover"
      loading={index < 3 ? "eager" : "lazy"}
    />
    <div class="mt-[5px]">
      <h2 class="text-[140%] font-medium mb-2.5 tracking-wide inline">
        {title}
      </h2>
      <p>{subtitle}</p>
    </div>
  </div>
</a>

<style>
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .Card {
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: var(--animation-delay, 0s);
    opacity: 0;
  }
</style>
